# Created by .ignore support plugin (hsz.mobi)
.idea
.gitignore
.idea/.gitignore
.idea/demo.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
src/main/java/proxy/cglibProxy/
src/main/resources/
src/test/
